<%= javascript_include_tag "prototype"%>

<%#= stylesheet_link_tag "demo_table" %>
<%= stylesheet_link_tag "demo_table_jui" %>
<%= stylesheet_link_tag "demo_page" %>

<%=javascript_include_tag "jquery_data_table" %>
<%=javascript_include_tag "jquery.dataTables.min" %>

<script>
  function dataT(){
    $('#events').dataTable();
  }

  function downLoad(uri) {
    document.location = "/femcom/download?uri=" + uri;
  }
</script>


<style type="text/css">

.thumb {
    width: 75px;
    height: 75px;
  }

 #events {
   border-style: solid;
   border-width: 0px;
 }



 #events td , th{
   border-style: solid;
   border-width: 0px;
   text-align: justify;
   background-color: #D3D6FF !important;
   border-style: solid;
   border-width: 1px;
 }


</style>

<div>
  <!--font color="#1D4A75" style="font-size:14px;font-weight:bold;">DOWNLOADS (pdf)</font-->
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">DOWNLOADS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>


<p>

 <table class="display" class="display" id="events" style="width:99%;font-size:11px;">
    <thead>                                                                     
      <tr>                                                                      
        <th>&nbsp;</th>                                                         
        <th>Title</th>                                                          
        <th>Date uploaded</th>                                                  
        <th>&nbsp;</th>                                                         
      </tr>                                                                     
    </thead>                                                                    
    <tbody>                                                                     
     <%(@documents || []).each do |event|%>                                     
      <tr class="gradeX">                                                       
        <td class="center" width = "10"><%= image_tag("folder.png" , :border => 0 ,:width => 48 ,:height =>48)%></td>                                
        <td style="vertical-align: top;" class="center" width = "210"><%=event.title%></td>                                
        <td style="vertical-align: top;" class="center" style="text-align:center;" width = "120">
          <%=event.created_at.strftime('%A, %d %b %Y')%>
        </td>                           
        <td class="center" style="text-align:center;" width = "10"><a href="javascript:downLoad('<%=event.uri%>');">Download</a></td>
      </tr>                                                                     
     <%end%>                                                                    
    </tbody>                                                                    
  </table>  

</p>


<script>
  dataT();
</script>
