<%= javascript_include_tag "prototype" %>

<style type="text/css">                                                         
  body {                                                                        
    -moz-user-select:none;                                                      
  font-family: Arial,sans-serif;                                                
  }                                                                             
                                                                                
  #table_div {                                                                  
    overflow:auto;                                                              
    height: 320px;                                                              
    background-color: white;                                                    
    border: #eee 1px solid;                                                     
    border-width: 1px;                                                          
  }                                                                             
                                                                                
  #tab {                                                                        
    -moz-user-select:none;                                                      
  }                                                                   
  
#photos img {
  width: 180px;
  height: 180px;
  border: 1px;
  border-style: solid;
}

#stats span {
  font-size:11px;
}

#stats td {
  padding-bottom: 10px;
}

</style>


<script>                                                                        
  function setInnerHtmlData(id,name,path,album_id) {                                   
    td = document.getElementById(id);                                           
    td.innerHTML = '<a href="/femcom/album?id=' + album_id + '"><img src="/images/pictures/' + path + '"></a><br/>';
    td.innerHTML += '<span>' + name + '</span>';
    <%unless User.current_user.blank? %>
      album_id = "'" + album_id + "'"; 
      td.innerHTML += '&nbsp;<a href="javascript:deleteP(' + album_id + ');"><span>delete</span></a>'; 
    <%end%>
  }                               
  
  function deleteP(album_id) {
    document.location = "/user/delete_post?type=album&id=" + album_id;
  }
                                                
</script> 

<div>
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">ALBUMS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>

<div id="photos">

   <table id="stats">                                                          
      <% count = 0 %>                     
      <% (@albums || []).each do |album|%>                                                                        
          <tr>                                                                  
            <td id = "<%=count+= 1%>"></td>                                  
            <td id = "<%=count+= 1%>"></td>                                  
            <td id = "<%=count+= 1%>"></td>                                  
          </tr>                                                                 
      <%end%>                                                                   
    </table>


    <%                                                                          
    count = 1
    (@albums || []).map do | album | 
      name = (album.name + " " + album.description rescue '')[0..19]
      path = album.pictures.first.uri rescue nil
      next if path.blank?
      %>                             
      <script>                                                                  
        setInnerHtmlData("<%=count%>","<%=name%>","<%=path%>","<%=album.id%>");                 
      </script>                                                                 
      <%count+=1%>                                                              
    <%end%>



  <%= will_paginate @albums %> 
</div>

