<style>
  #chapter-contents td {
    vertical-align: top;
  }
</style>

<div>                                                                           
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">NATIONAL CHAPTERS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          
<br />

<%(@chapters || []).each do |chapter|%>

<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;"><%=chapter.country%></caption>
    <tr>
      <td><%= image_tag("NC/#{chapter.flag}" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub; padding-left: 10px;">
        <b><%=chapter.member%></b><br />
        <table style="font-size: 12px;" id="chapter-contents">
          <tr>
            <td>Title:&nbsp;</td><td><%=chapter.title%></td>
          </tr>
          <tr>
            <td>Address:&nbsp;</td><td><%=chapter.address.gsub(/\n/, '<br/>').html_safe rescue nil %></td>
          </tr>
          <tr>
            <td>Phone#:&nbsp;</td><td><%=chapter.phone%></td>
          </tr>
          <tr>
            <td>Email:&nbsp;</td><td><%=chapter.email%></td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<%end%>
