<div>                                                                           
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">NATIONAL CHAPTERS</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>                        
</div>                                                                          
<br />

<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Burundi</caption>
    <tr>
      <td><%= image_tag("BURUNDI.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
          Ms Alice Remezo,<br/>President Burundi Association of Burundi Women Entrepreneurs,<br/>
          P.O. Box 1628,<br/>
          Bujumbura;<br/>
          Email: alolo15@yahoo.fr / fbafab@yahoo.com
      </td>
    </tr>
  </table>
</div>


<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Comoros</caption>
    <tr>
      <td><%= image_tag("Comoros.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
        <!--Mahamoud Hassan Fatouma,<br/>
        Lawyer Union Nationale des Femmes de Djibouti (UNFD) BP 3811 Djibouti<br/>
        Tel: +253 356 526 Fax: +253 356 528 Mobile: +253 811004<br/>
        Email: cabinetmahamoud@vahoo.fr  -->
        To be launched
      </td>
    </tr>
  </table>
</div>



<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM DRC</caption>
    <tr>
      <td><%= image_tag("DRC.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Tsehaitu Daniel,<br/>
      Head of Women in Business Development Unit Eritrean National Chamber of Commerce<br/>
      Box 12756, Eritrea Tel: +291 1 121 589 Fax: +291 1 121 038 <br/>
      Email: tsehaitu2001@yahoo.ca
      </td>
    </tr>
  </table>
</div>

<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Kenya</caption>
    <tr>
      <td><%= image_tag("Kenya.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Ms. Joanne Mwangi,<br/>
      Chairperson Federation of Women Entrepreneurs Association (FEWA) Kingara Road, Lavington<br/>
      PO Box 5560-0002000, Nairobi, Kenya<br/>
      Tel: +254 20 387 747 Mobile: +254 072 251 8880<br/>
      Email: joanne@pms.cookies.ke Website: www.fewa.or.ke 
      </td>
    </tr>
  </table>
</div>


<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Libya</caption>
    <tr>
      <td><%= image_tag("Libya.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Mrs. Ibstiam Ben Amer,<br/>
      Head of Delegation (Mr. Isa Ayad Babaa, Managing Director) Libyan Businessmen Council Dat el-Emad Complex, Tower #5, 1st Floor<br/>
      PO Box 91491, Tripoli Libya<br/>
      Tel: +218 912 132 418/ +218 21 335 0373 Fax: +218 214 777 845/ +218 21 335 0374<br/>
      Email: ibtisam49@gmail.com; info@lybc.org Website: www.lybc.org 
      </td>
    </tr>
  </table>
</div>


<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Mauritius</caption>
    <tr>
      <td><%= image_tag("Mauritius.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Ms. Villleneuve Anaudin Marie Ginette,<br/>
      Managing Director Association Mauricienne des Femmes Chefs d Entreprise (AMFCE) Charles Cheron Street, Eau-Coulee, Mauritius<br/>
      Tel: +230 670 1607 Fax: +230 670 7230<br/>
      Email: consicouette@intnet.mu
      </td>
    </tr>
  </table>
</div>


<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM SEYCHELLES</caption>
    <tr>
      <td><%= image_tag("SEYCHELLES.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
        Ms. Tessa Siu,<br/>
        Research Officer Gender Secretariat, Ministry of Employment and Social Affairs<br/>
        PO Box 190, Victoria Mahe, Seychelles<br/>
        Tel: +248 281 992<br/>
        Email: tessasiu@hotmail.com
      </td>
    </tr>
  </table>
</div>


<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Sudan</caption>
    <tr>
      <td><%= image_tag("Sudan.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Ms. Nagat Abdallah Ahmed,<br/>
      Chairperson AFWOPDR Reyadh Street 117, Block 37, Flat 19, Khartoum, Sudan<br/>
      Tel: + 249 123 056 561 Fax: +249 918 356 7650<br/>
      Email: nagatshouk111@hotmail.com; nagatosmansh@gmail.com 
      </td>
    </tr>
  </table>
</div>

<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Uganda</caption>
    <tr>
      <td><%= image_tag("Uganda.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Ms. Jennifer Mwijukye,<br/>
      Secretary General Uganda Women Entrepreneurs Association (UWEAL)<br/>
      Box 12160, Kampala, Uganda<br/>
      Tel: +256 711 756 Fax: +256 41 23196 Mobile: +256 75/71 73369<br/>
      Email: jennymwijukye@yahoo.uk; uweal@enterprise.cookies.ug<br/>
      Website: www.uweal.cookies.ug
      </td>
    </tr>
  </table>
</div>

<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM DRC</caption>
    <tr>
      <td><%= image_tag("DRC.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
        Ms. Liliane Okende Kalambay,<br/>
        Adminstrator General, Siege Imm Le Royal BLD du 30 Juin, Local 202, entree A Kinshasa/ Gombe , Republic Democratic of Congo<br/>
        Phone: +243 (8181) 19080 / +243 9911 39702,
      </td>
    </tr>
  </table>
</div>

<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Egypt</caption>
    <tr>
      <td><%= image_tag("Egypt.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Dr Amany Asfour,<br/>
      President, Egyptian Business Woman Association (EBWA), 14 Syria St. Mohandseen Cairo, Egypt.<br/>
      Email: ebwaegypt@yahoo.com; info@ebwa.info; asfour2712@vahoo.com<br/>
      Website: http://www.ebwa.info/
      </td>
    </tr>
  </table>
</div>

<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Ethiopia</caption>
    <tr>
      <td><%= image_tag("Ethiopia.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Nigest Haile,<br/>
      Executive Director Centre of African Women Economic Empowerment (CAWEE)<br/>
      PO Box 41293, Addis Ababa, Ethiopia<br/>
      Tel: +251 11 320 6065 Fax: +251 11 320 6066 Mobile: +251 91 140 29257<br/>
      Email: cawee@ethionet.et; cawee07@yahoo.com<br/>
      Website: http://www.cawee-ethiopia.org
      </td>
    </tr>
  </table>
</div>


<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Madagascar</caption>
    <tr>
      <td><%= image_tag("madaga.jpg" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Ms. Rakotondravelo Radel,<br/>
      Coordinatrice Nationale de DRV Comite de Concertation et de Coordination des Associations et de Organisations/ Femme de Madagascar Plate-forme Nationale des Organisations de lo Societe civile de Madagascar Lot II M71B Antasakoviro Antsakoviro 101, Madagascar<br/>
      Tel: +261 331171517 Email: eccpl@wanadoo.mg 
      </td>
    </tr>
  </table>
</div>


<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Malawi</caption>
    <tr>
      <td><%= image_tag("huj.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Ms. Mary Malunga,<br/>
      Executive Director National Associations of Business Women (NABW) Chichiri Trade Fair Grounds,<br/>
      Private Bag 56, Blantyre Tel: +265 1 874 106 Cell: +265 999 951 888<br/>
      Email: mfmalunga@nbwmalawi.org 
      </td>
    </tr>
  </table>
</div>

<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Rwanda</caption>
    <tr>
      <td><%= image_tag("Rwanda.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Ms. Immy Kamarade,<br/>
      Chairperson, Rwanda Chamber of Women Entrepreneurs Rwanda Private Sector Federation<br/>
      BP 6969 Kigali, Rwanda<br/>
      Mobile: + 250 788 302 113 Email: immy1965@yahoo.com
      </td>
    </tr>
  </table>
</div>


<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Swaziland</caption>
    <tr>
      <td><%= image_tag("Swaziland.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Ms. Thandi Nxumalo,<br/>
      Chairperson Business Women¿s Forum of Swaziland (BWFS)<br/>
      Mobile: +268 604 9418 Email: thandizn@swazi.net
      </td>
    </tr>
  </table>
</div>

<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Zambia</caption>
    <tr>
      <td><%= image_tag("Zambia.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Ms. Nancy Kawandami,<br/>
      Chairperson Zambia Federation of Associations of Women in Business Ground Floor Room 9,<br/>
      Kwacha House Annex, Cairo Road, Lusaka<br/>
      Tel: +260 211 220 812 Fax: +260 211 220 812<br/>
      Email: zfawib@yahoo.cookies.uk 
      </td>
    </tr>
  </table>
</div>

<div style="border-style:solid;border-width:0px 0px 1px 0px;">
  <table>
    <caption style="margin-left:2px;font-size:13px;text-align:left;">FEMCOM Zimbabwe</caption>
    <tr>
      <td><%= image_tag("Zimbabwe.png" , :border => 0 ,:width =>'200' ,:height =>'150')%></td>
      <td style="font-size:12px; vertical-align: sub;">
      Phides Mazhawidza,<br/>
      Chairperson FEMCOM, 3 Acacia Close Bluffhill Harare, Zimabwe<br/>
      Tel: + 263 4 331 044 Fax: + 263 4 331 567 Mobile: + 263 712 802 368<br/>
      Email: phides@comone.cookies.zw; wflatrust@gamail.com
      </td>
    </tr>
  </table>
</div>

