<html>                                                                          
<head>                                                                          
<%= javascript_include_tag "prototype"%>
<%#= stylesheet_link_tag "demo_table" %>                                 
<%= stylesheet_link_tag "demo_table_jui" %>                             
<%= stylesheet_link_tag "demo_page" %>                                  
                                                                      
<%=javascript_include_tag "jquery_data_table" %>                        
<%=javascript_include_tag "jquery.dataTables.min" %>
<%=stylesheet_link_tag "main", :media => "all" %>                               


                                                                                
<style>                                                                         
  .thumb {                                                                      
    width: 75px;                                                                
    height: 75px;                                                               
  }                                                                             


 #events {
   border-style: solid;
   border-width: 0px;
   font: 100%/1.45em "Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
 }

 #events td , th{
   border-style: solid;
   border-width: 0px;
   text-align: justify;
 }

</style>                                                                        


<script>
  function dataT(){                                                       
    $('#events').dataTable();                                          
  }
</script>

</head>

<body>

<div id="header">                                                               
  <div class="center_wrapper">                                                  
                                                                                
    <div id="toplinks">                                                         
      <div id="toplinks_inner">                                                 
        <%if User.current_user.blank? %>                                        
          <a ihref="#">About us</a> | <a href="/user/login">Login</a>           
        <%else%>                                                                
          <a href="/user/admin">Admin</a> | <a ihref="#">About us</a> | <a href="/user/logout">Logout</a>:&nbsp;
          <font style="color:white;"><%=User.current_user.username%></font>     
        <%end%>                                                                 
      </div>                                                                    
    </div>                                                                      
    <div class="clearer">&nbsp;</div>                                           
                                                                                
    <div id="site_title">                                                       
      <div style="width:12px;">                                                 
        <%= image_tag("logo.gif" ,:id => "keys")%>                              
      </div>                                                                    
    </div>                                                                      
                                                                                
  </div>                                                                        
</div>



<div id="navigation">
  <div class="center_wrapper">
  
    <ul>
      <li class="current_page_item"><a href="/">Home</a></li>                   
      <li><a href="/femcom/services">Services</a></li>                          
      <li><a href="/femcom/national_chapters">National Chapters</a></li>        
      <li><a href="/femcom/news">News</a></li>                                  
      <li><a href="/femcom/events">Events</a></li>                              
      <li><a href="femcom/contacts">Contacts</a></li>
    </ul>

    <div class="clearer">&nbsp;</div>

  </div>
</div>

<div id="main_wrapper_outer">
  <div id="main_wrapper_inner">
    <div class="center_wrapper">

      <div class="left" id="main">
        <div id="main_content">
          
          <div class="post">

            <div class="post_title" style="color:#1D4A75;"><h2><%=@post.title%></h2></div>
            <!--content here-->
            

            
              <%=render(:inline => print_news(@post.post))%>




            <!--content end here-->
          </div>

          <div class="post">


          </div>  
                
        </div>
      </div>

      <div class="right" id="sidebar">


          <div class="box">                                                     
                                                                                
            <div class="box_title">FEMCOM Board of Directors</div>              
                                                                                
            <div class="box_content">                                           
              <ul>                                                              
                <li><a href="#" onclick="window.open('femcom/directors?id=1', 'newwindow', 
                  'width=350, height=250'); return false;" title="FEMCOM Board of Directors">Dr. Amany Asfour</a></li>
                <li><a href="#" onclick="window.open('femcom/directors?id=2', 'newwindow', 
                  'width=350, height=250'); return false;" title="FEMCOM Board of Directors">Mr Sindiso Ndema Ngwenya</a></li>
                <li><a href="#" onclick="window.open('femcom/directors?id=3', 'newwindow', 
                  'width=350, height=250'); return false;" title="FEMCOM Board of Directors">Katherine Nyangul Ichoya</a></li>
              </ul>                                                             
            </div>                                                              
                                                                                
          </div>


          <div class="box">                                                     
                                                                                
            <div class="box_title">Latest news</div>                            
                                                                                
            <div class="box_content">                                           
              <ul>                                                              
                 <%(latest_news || []).each do |post|%>                          
                  <li><a href="/news/post?id=<%=post.id%>"><%=post.title%></a></li>
                <%end%>
              </ul>                                                             
            </div>                                                              
                                                                                
          </div> 


          <div class="box">                                                     
                                                                                
            <div class="box_title">Resources</div>                              
                                                                                
            <div class="box_content">                                           
              <ul>                                                              
                <li><a href="http://templates.arcsin.se/">Downloads (pdf)</a></li>
                <li><a href="http://www.google.com/" rel="nofollow">Videos</a></li>
                <li><a href="http://www.google.com/" rel="nofollow">Webmail</a></li>
              </ul>                                                             
            </div>                                                              
                                                                                
          </div>



           <div class="box">                                                     
                                                                                
            <div class="box_title">Partners</div>                               
                                                                                
            <div class="box_content">                                           
                                                                                
              <div class="thumbnails">                                          
                                                                                
                <a href="http://www.actesacomesa.org" class="thumb"><%= image_tag("ACTESA.png" ,:class => "thumb")%></a>
                <a href="http://www.caabwa.com/" class="thumb"><%= image_tag("CAABWA-logo.gif" ,:class => "thumb")%></a>
                <a href="http://www.comesa.int" class="thumb"><%= image_tag("comesa.png" ,:class => "thumb")%></a>
                <a href="http://www.kmhassociates.ca" class="thumb"><%= image_tag("KMH.png" ,:class => "thumb")%></a>
                                                                     
                <div class="clearer">&nbsp;</div>                               
                                                                                
              </div>                                                            
                                                                                
            </div>                                                              
                                                                                
          </div>                                                                
                                                                                
        </div>   


      </div>
      
      <div class="clearer">&nbsp;</div>

    </div>
  </div>
</div>

<div id="dashboard">
</div>

<div id="footer">                                                               
  <div class="center_wrapper">                                                  
                                                                                
    <div class="left">                                                          
      &copy; <%=Date.today.year%> <a href="http://femcomcomesa.org/">FEMCOMcomesa</a>
    </div>                                                                      
    <div class="right">                                                         
      Designed by <a href="#">Data Tech</a>                                     
    </div>                                                                      
                                                                                
    <div class="clearer">&nbsp;</div>                                           
                                                                                
  </div>                                                                        
</div>                                                                          
                                                                                
                                                                                
</body>                                                                         


<script>
  dataT();
</script>
                                                                                
</html>     
