<style>
#preview { 
  visibility: hidden; 
  height: 0px;
  width: 0px;
}

</style>

<%= javascript_include_tag "jquery.form" %>

<script>

$(function() {
  $('#uploader').ajaxForm({dataType: 'script'});
  $("#uploader").ajaxForm({target: '#preview'});
});

function addUploadedImage() {
  var e = document.getElementById('preview');
  if (e.innerHTML.length > 0) {
    InsertCodeInTextArea(e.innerHTML);
    e.innerHTML = null;
  }
}

</script>

<%= form_for 'myform', :url => 'upload', :html => {:multipart => true,:id => 'uploader'} do |f| %>
  <%=hidden_field_tag :format, 'js' %>
  <%= file_field 'upload', 'datafile' %>&nbsp;<%=f.submit "Add image"%>
<%end%>

<div id = "preview"></div>

<script>
  setInterval("addUploadedImage();",1000);
</script>
