<!-- ............................................... -->






<html>
<head>
<title></title>

<%= javascript_include_tag "widgEditor" %>                                      
<%= javascript_include_tag "jquery-1.9.1" %>                                    
<%= javascript_include_tag "jquery-ui" %>                                       
                                                                                
<%= stylesheet_link_tag "info" %>                                               
<%= stylesheet_link_tag "xmain" %>                                              
<%= stylesheet_link_tag "widgEditor" %>                                         
<%= stylesheet_link_tag "jquery-ui" %>                                          
<%= stylesheet_link_tag "calender_style" %>                                     
                                                                                
<style>                                                                         
.ui-datepicker-next, .ui-datepicker-prev {                                      
  background-color: slategrey;                                                  
}                                                                               
                                                                                
</style>                                                                        
                                                                                
<script type="text/javascript">                                                 
                                                                                
$(function() {                                                                  
$( "#start_date" ).datepicker();                                                
$( "#end_date" ).datepicker();                                                
});                                         

function setImage(img) {                                                        
  addIMG(img)
}                                                                               
                                                                                
                                                                                
function InsertCodeInTextArea(textValue) {                                      
  setImage(textValue);                                                          
}                                                                               
                                                                                
function submitForm() {                                                         
  document.getElementById('main-form').submit();                                
}                                                                               
                                                                                
function validatePost() {                                                       
 return false;                                                                  
}                                                                               
</script> 

</head>


<body>

<%if flash[:notice]%>                                                           
  <font id="flash_notice" style="color: green"><%= flash[:notice] %></font><br /> 
<%end%>


  <div id="content">
    <table>                                                                         
      <tr>                                                                            
        <td colspan="2">                                                              
          <%= render 'event_image_uploader' %>                                                  
        </td>                                                                         
      </tr>                                                                           
    </table>

    <form action="create_events" method="post" id="main-form">
      <fieldset>
        Title:&nbsp;<%= text_field_tag(:title, nil,:size => 40) %>
      </fieldset>
      <fieldset>
        Venue:&nbsp;<%= text_field_tag(:venue, nil,:size => 40) %>
      </fieldset>                                                                       
      <fieldset>
        Start date:&nbsp;<%= text_field_tag(:start_date, nil,:id => 'start_date', :value => Date.today.strftime('%m/%d/%Y')) %>
        &nbsp;&nbsp;End date:&nbsp;<%= text_field_tag(:end_date, nil,:id => 'end_date', :value => Date.today.strftime('%m/%d/%Y')) %>
      </fieldset>
      <fieldset>
        <textarea id="post" name="post" class="widgEditor nothing"></textarea>
      </fieldset>
      <fieldset class="submit">
        <input type="submit" value="Post"  onclick="submitForm();" />
      </fieldset>
    </form>
  </div>

</body>









</html>
