<html>
<head>
<title></title>

<script type="text/javascript">                                                 
                                                                                
function submitForm() {                                                         
  document.getElementById('main-form').submit();                                
}                                                                               
                                                                                
function validatePost() {                                                       
 return false;                                                                  
}                                                                               
</script> 

</head>


<body>

<%if flash[:notice]%>                                                           
  <font id="flash_notice" style="color: green"><%= flash[:notice] %></font><br /> 
<%end%>


  <div id="content">

    <form action="edit_home_page_content" method="post" id="main-form">
        Title:&nbsp;<input type='text' name='title' size = '40' value="<%=@content.title%>" /><br />
        <textarea id="post" name="post" cols="100%" rows=15>
          <%=render(:inline => (@content.content || ''))%>
        </textarea>
      <br />
        <input type='button' value = 'Delete post' id = 'deletebtn' 
          onclick="javascript:location='/user/delete_post?type=delete_home_page_content&id=<%=@content.id%>'" />&nbsp;
        <input type="submit" value="Save changes"  onclick="submitForm();" />
      
      <input type='hidden' name = 'content_id' value = "<%=@content.id%>" />
    </form>
  </div>

</body>









</html>
