<%= javascript_include_tag "prototype"%>

<%#= stylesheet_link_tag "demo_table" %>
<%= stylesheet_link_tag "demo_table_jui" %>
<%= stylesheet_link_tag "demo_page" %>

<%=javascript_include_tag "jquery_data_table" %>
<%=javascript_include_tag "jquery.dataTables.min" %>

<script>
  function dataT(){
    $('#events').dataTable({ "aaSorting": [] });
  }

  function edit(id) {
    document.location = "/user/news_edit?id=" + id;
  }
</script>


<style type="text/css">

.thumb {
    width: 75px;
    height: 75px;
  }


 #events {
   border-style: solid;
   border-width: 0px;
 }



 #events td , th{
   border-style: solid;
   border-width: 0px;
   text-align: justify;
 }


</style>

<div>
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">NEWS - EDIT</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>


<p>                                                                             
                                                                                
<table class="display" class="display" id="events" style="width:99%;font-size:11px;">
<thead>                                                                         
  <tr>                                                                          
    <th>Headline</th>                                                           
    <th>Headline</th>                                                           
    <th>&nbsp;</th>                                                        
  </tr>                                                                         
</thead>                                                                        
<tbody>                                                                         
 <%(@news || []).each do |news|%>                                               
  <tr class="gradeX">                                                           
    <td class="center" width='300'><%=news.title%></td>
    <td class="center"><%=news.created_at.strftime('%A, %d %b %Y')%></td>                                
    <td class="center"><input type="checkbox" onclick="javascript:edit('<%=news.id%>')" /></td>
  </tr>                                                                         
 <%end%>                                                                        
</tbody>                                                                        
</table>                                                                        
                                                                                
</p>  

<script>
  dataT();
</script>
