<!-- ............................................... -->






<html>
<head>
<title></title>

<%= javascript_include_tag "jquery-1.9.1" %>                                    
<%= javascript_include_tag "jquery-ui" %>                                       
                                                                                
<%= stylesheet_link_tag "info" %>                                               
<%= stylesheet_link_tag "xmain" %>                                              
<%= stylesheet_link_tag "jquery-ui" %>                                          
<%= stylesheet_link_tag "calender_style" %>
                                                                                
<style>                                                                         
.ui-datepicker-next, .ui-datepicker-prev {                                      
  background-color: slategrey;                                                  
}                                                                               
                                                                                
</style>                                                                        
                                                                                
<script type="text/javascript">                                                 
                                                                                
$(function() {                                                                  
$( "#start_date" ).datepicker();                                                
$( "#end_date" ).datepicker();                                                
});                                         

function setImage(img) {                                                        
   document.getElementById('post').value += img;
}                                                                               
                                                                                
                                                                                
function InsertCodeInTextArea(textValue) {                                      
  setImage(textValue);                                                          
}                                                                               
                                                                                
function submitForm() {                                                         
  document.getElementById('main-form').submit();                                
}                                                                               
                                                                                
function validatePost() {                                                       
 return false;                                                                  
}                                                        

function deletePost() {                                                        
  document.location = "/user/delete_post?type=delete_event&id=<%=@event.id%>";
}   
                       
</script> 

</head>


<body>

<%if flash[:notice]%>                                                           
  <font id="flash_notice" style="color: green"><%= flash[:notice] %></font><br /> 
<%end%>


  <div id="content">
    <table>                                                                         
      <tr>                                                                            
        <td colspan="2">                                                              
          <%= render 'event_image_uploader' %>                                                  
        </td>                                                                         
      </tr>                                                                           
    </table>

     <form action="edit_event" method="post" id="main-form">                  
      <table style="width:100%;">                                               
        <tr>                                                                    
          <td>Title:&nbsp;<%= text_field_tag(:title, nil,:size => 40,:value => @event.title) %></td>   
        </tr>                                                                   
        <tr>                                                                    
          <td>Venue:&nbsp;<%= text_field_tag(:venue, nil,:size => 40,:value => @event.venue) %></td>   
        </tr>                                                                   
        <tr>                                                                    
          <td>Start date:&nbsp;<%= text_field_tag(:start_date, nil,:id => 'start_date', 
              :value => (@event.date.strftime('%m/%d/%Y') rescue nil)) %>
          &nbsp;&nbsp;End date:&nbsp;<%= text_field_tag(:end_date, nil,:id => 'end_date', 
          :value => (@event.end_date.strftime('%m/%d/%Y') rescue nil)) %></td>
        </tr>                                                                   
        <tr>                                                                    
          <td><textarea id="post" name="post" class="widgEditor nothing">
                <%=render(:inline => print_news(@event.description || ''))%>
              </textarea>
          </td>
        </tr>                                                                   
        <tr>                                                                    
          <td>
            <input type="submit" value="Update"  onclick="submitForm();" />         
        &nbsp;&nbsp;<input type='button' value = 'Delete' id = 'deletebtn' onclick="javascript:deletePost();" />
          </td>
        </tr>                                                                   
      </table>  
      <input type="hidden" name="id" value="<%=@event.id%>" />         
    </form>
  </div>

</body>









</html>
