<%= javascript_include_tag "prototype"%>

<%#= stylesheet_link_tag "demo_table" %>
<%= stylesheet_link_tag "demo_table_jui" %>
<%= stylesheet_link_tag "demo_page" %>

<%=javascript_include_tag "jquery_data_table" %>
<%=javascript_include_tag "jquery.dataTables.min" %>

<script>
  function dataT(){
    $('#events').dataTable({ "aaSorting": [] });
  }

  function edit(id) {
    document.location = "/user/national_chapters_edit?id=" + id;
  }
</script>


<style type="text/css">

.thumb {
    width: 75px;
    height: 75px;
  }


 #events {
   border-style: solid;
   border-width: 0px;
 }



 #events td , th{
   border-style: solid;
   border-width: 0px;
   text-align: justify;
 }


</style>

<div>
  <font color="#1D4A75" style="font-size:14px;font-weight:bold;">CHAPTERS - EDIT</font>
  <hr style="background-color:#1D4A75;height:3px;"></hr>
</div>


<p>                                                                             

<font id="flash_notice" style="color: green"><%= flash[:notice] %></font>
                                                                                
<table class="display" class="display" id="events" style="width:99%;font-size:11px;">
<thead>                                                                         
  <tr>                                                                          
    <th>&nbsp;</th>                                                        
    <th>Country</th>                                                           
    <th>Details</th>                                                           
    <th>&nbsp;</th>                                                        
  </tr>                                                                         
</thead>                                                                        
<tbody>                                                                         
 <%(@chapters || []).each do |chapter|%>                                               
  <tr class="gradeX">                                                           
    <td class="center"><img src="/images/NC/<%=chapter.flag%>" width='75' height='75' /></td>
    <td class="center"><%=chapter.country%></td>                                
    <td class="center">
      <%=chapter.member%><br/>
      <%=chapter.title%><br/>
      .............
    </td>                                
    <td class="center"><input type="checkbox" onclick="javascript:edit('<%=chapter.id%>')" /></td>
  </tr>                                                                         
 <%end%>                                                                        
</tbody>                                                                        
</table>                                                                        
                                                                                
</p>  

<input type="button" onclick="javascript:location='/user/create_chapters'" value="Femcom member (Create)" />

<script>
  dataT();
</script>
