<html>
<head>
<title></title>

<script type="text/javascript">                                                 

function setImage(myValue) {                                                        
  var myField = document.getElementById('post');                                
  //IE support                                                                  
  if (document.selection) {                                                     
      myField.focus();                                                          
      sel = document.selection.createRange();                                   
      sel.text = myValue;                                                       
  }                                                                             
  //MOZILLA and others                                                          
  else if (myField.selectionStart || myField.selectionStart == '0') {           
      var startPos = myField.selectionStart;                                    
      var endPos = myField.selectionEnd;                                        
      myField.value = myField.value.substring(0, startPos)                      
          + myValue                                                             
          + myField.value.substring(endPos, myField.value.length);              
  } else {                                                                      
      myField.value += myValue;                                                 
  }                                                                             
}                                                                                 
                                                                                
function InsertCodeInTextArea(textValue) {                                      
  setImage(textValue);                                                          
}                                                                               
                                                                                
function submitForm() {                                                         
  document.getElementById('main-form').submit();                                
}                                                                               
                                                                                
function validatePost() {                                                       
 return false;                                                                  
}                                                                               

 function deletePost() {                                                       
    document.location = "/user/delete_post?type=delete_news_post&id=<%=@news.id%>";
  } 
</script> 

</head>


<body>

<%if flash[:notice]%>                                                           
  <font id="flash_notice" style="color: green"><%= flash[:notice] %></font><br /> 
<%end%>


  <div id="content">
    <table>                                                                         
      <tr>                                                                            
        <td colspan="2">                                                              
          <%= render 'upload' %>                                                      
        </td>                                                                         
      </tr>                                                                           
    </table>

    <form action="delete_post" method="post" id="main-form">                    
      <table style="width:100%;">                                               
        <tr>                                                                    
          <td>Title:&nbsp;<input type='text' name='title' size = '40' value="<%=@news.title%>"/></td>    
        </tr>                                                                   
        <tr>                                                                    
          <td>
              <textarea id="post" name="post" cols="100%" rows=10>
                <%=render(:inline => (@news.post || ''))%>
              </textarea>
           </td>
        </tr>                                                                   
        <tr>                                                                    
          <td>
              <input type='button' name = 'id' value = 'Delete' onclick="jvascript:deletePost('<%=@news.id%>')"/>                     
              &nbsp;<input type='submit' value = 'Update' /> 
          </tr>
        </tr>                                                                   
        <tr>                                                                    
          <td>
              <input type='hidden' name = 'id' value = '<%=@news.id%>' />                     
              <input type='hidden' name = 'type' value = 'update_news_post' /> 
          </tr>
        </tr>                                                                   
      </table>                                                                  
    </form>
  </div>

</body>









</html>
