<style>
  table { 
      color: #554433; 
  }
 
  #submitbtn {
  }

</style>


<script>

  function deletePost() {
    document.location = "/user/delete_post?type=delete_services_post&id=<%=@service.id%>";
  }

function setImage(img) {                                                        
  textarea = document.getElementById("text-area");                              
  textarea.value += img;                                                        
}                                                                               
                                                                                
                                                                                
function InsertCodeInTextArea(textValue) {                                      
  setImage(textValue); 
}
  

function submitForm() {                                                         
 document.getElementById('main-form').submit();                                
} 
</script>

<div id='news'>

<table>                                                                         
<tr>                                                                            
  <td colspan="2">                                                              
    <%= render 'upload' %>                                                      
  </td>                                                                         
</tr>                                                                           
</table>


<form action='services_edit' method="post" id="main-form">
<table>
<tr>
  <td>Title:</td><td>&nbsp;<input type='text' name='title' size = '30' value="<%=@service.title%>" /></td>
</tr>
<tr>
  <td colspan="2">Body:</td>
</tr>
</table>
<table>
<tr>
  <td>
    <textarea cols='70' rows='15' name='post' id="text-area">
       <%=render(:inline => @service.post)%>
    </textarea>
  </td>
</tr>
<tr>
  <td>
    <input type='button' value = 'Update' id = 'submitbtn' onclick="submitForm();" />
    &nbsp;&nbsp;<input type='button' value = 'Delete' id = 'deletebtn' onclick="javascript:deletePost();" />
  </td>
</tr>
</table>
<input type='hidden' name = 'id' value = '<%=@service.id%>' />
</form>
