<html>
<head>
<title></title>

<script type="text/javascript">                                                 
                                                                                
function setImage(img) {                                                        
  document.getElementById("post").value+= img;
}                                                                               
                                                                                
                                                                                
  function deletePost() {
    document.location = "/user/delete_post?type=delete_services_post&id=<%=@service.id%>";
  }

function InsertCodeInTextArea(textValue) {                                      
  setImage(textValue);                                                          
}                                                                               
                                                                                
function submitForm() {                                                         
  document.getElementById('main-form').submit();                                
}                                                                               
                                                                                
function validatePost() {                                                       
 return false;                                                                  
}                                                                               
</script> 

</head>


<body>

<%if flash[:notice]%>                                                           
  <font id="flash_notice" style="color: green"><%= flash[:notice] %></font><br /> 
<%end%>


  <div id="content">
    <table>                                                                         
      <tr>                                                                            
        <td colspan="2">                                                              
          <%= render 'upload' %>                                                      
        </td>                                                                         
      </tr>                                                                           
    </table>

    <form action="services_edit" method="post" id="main-form">
        Title:&nbsp;<input type='text' name='title' size = '40' value="<%=@service.title%>" /><br />
        <textarea id="post" name="post" cols="100%" rows=15>
          <%=render(:inline => @service.post)%> 
        </textarea>
      <br />
      <input type='button' value = 'Update' id = 'submitbtn' onclick="submitForm();" />
      &nbsp;&nbsp;<input type='button' value = 'Delete' id = 'deletebtn' onclick="javascript:deletePost();" />
      <input type='hidden' name = 'id' value = '<%=@service.id%>' />
    </form>
  </div>

</body>









</html>
