<html>                                                                          
<head>                                                                          
                                                                                
<style>                                                                         
  .thumb {                                                                      
    width: 75px;                                                                
    height: 75px;                                                               
  }                                                                             
</style>                                                                        
<%=stylesheet_link_tag "main", :media => "all" %>                               


<script>
  function adminPage(page) {
   var element = document.getElementById('extFrame');
   if (page == 'news') {
     element.src = 'create_news.php'; 
   }else if (page == 'files') {
     element.src = 'upload_pdf.php'; 
   }else if (page == 'event') {
     element.src = 'create_events.php'; 
   }else if (page == 'video') {
     element.src = 'create_video_link.php'; 
   }
  }



</script>

</head>

<body>

<div id="header">                                                               
  <div class="center_wrapper">                                                  
                                                                                
    <div id="toplinks">                                                         
      <div id="toplinks_inner">                                                 
        <%if User.current_user.blank? %>                                        
          <a ihref="#">About us</a> | <a href="/user/login">Login</a>           
        <%else%>                                                                
          <a href="/user/admin">Admin</a> | <a ihref="#">About us</a> | <a href="/user/logout">Logout</a>:&nbsp;
          <font style="color:white;"><%=User.current_user.username%></font>     
        <%end%>                                                                 
      </div>                                                                    
    </div>                                                                      
    <div class="clearer">&nbsp;</div>                                           
                                                                                
    <div id="site_title">                                                       
      <div style="width:12px;">                                                 
        <%= image_tag("logo.gif" ,:id => "keys")%>                              
      </div>                                                                    
    </div>                                                                      
                                                                                
  </div>                                                                        
</div>



<div id="navigation">
  <div class="center_wrapper">
  
    <ul>
      <li class="current_page_item"><a href="/">Home</a></li>                   
      <li><a href="/femcom/national_chapters">National Chapters</a></li>        
      <li><a href="/femcom/news">News</a></li>                                  
      <li><a href="/femcom/events">Events</a></li>                              
      <li><a href="#">Contacts</a></li>
    </ul>

    <div class="clearer">&nbsp;</div>

  </div>
</div>

<div id="main_wrapper_outer">
  <div id="main_wrapper_inner">
    <div class="center_wrapper">

      <div class="left" id="main">
        <div id="main_content">
          
          <div class="post">

            <div class="post_title"><h2><a href="#">Administration page:</a></h2></div>
            <!--div class="post_date">Posted on Dec 15th at 20:47 by <a href="#">Viktor Persson</a></div-->
            
            <div class="post_body" id = "post_body">


            <%(@videos || []).each do |video|%>
                <iframe class="youtube-player" type="text/html" width="550" height="340" 
                  src="http://www.youtube.com/embed/<%=video.link%>" frameborder="0">
                </iframe>
                <%=video.title%><%unless video.description.blank?%>
                :&nbsp;<%=video.description%><%end%>
                <hr></hr>
            <%end%>

            
 
            </div>
            <!--div class="post_meta">
              <a href="#">5 comments</a> | Tagged: <a href="#">Sapien</a>, <a href="#">Sollicitudin</a>, <a href="#">Ligula</a>
            </div-->

          </div>

          <div class="post">

            <!--div class="post_title"><h2><a href="#">Porttitor posuere</a></h2></div>
            <div class="post_date">Posted on Dec 11th at 16:12 by <a href="#">Aliquet Quis</a></div>
            
            <div class="post_body">
            
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc sagittis. Proin ac felis. Consectetuer adipiscing elit. Pellentesque enim dui, rhoncus ut, pharetra</p>
              
              <ul>
                <li>List item 1</li>
                <li>List item 2</li>        
                <li>List item 3</li>
              </ul> 
              
              <p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue.</p>

              <p>Donec ligula lorem, varius eget, semper eget, aliquet quis, lectus. Vestibulum ipsum nunc, aliquet quis, blandit ac, varius a, est. Praesent dictum. Sed feugiat magna sed lorem. Nulla tempus sodales ipsum. In vitae purus eget quam.</p>

              <blockquote><p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue</p></blockquote>

              <p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue.</p>


            </div>
            
            <div class="post_meta">
              <a href="#">11 comments</a> | Tagged: <a href="#">Purus</a>, <a href="#">Semper</a>, <a href="#">Vestibulum</a>
            </div-->

          </div>  
                
        </div>
      </div>

      <div class="right" id="sidebar">

        <!--div id="sidebar_content">
        
          <div class="box">

            <div class="box_title">About</div>

            <div class="box_content">
              Aenean sit amet dui at felis lobortis dignissim. Pellentesque risus nibh, feugiat in, convallis id, congue ac, sem. Sed tempor neque in quam.
            </div>

          </div-->

          <div class="box">                                                     
                                                                                
            <div class="box_title">FEMCOM Board of Directors</div>              
                                                                                
            <div class="box_content">                                           
              <ul>                                                              
                <li><a href="#" onclick="window.open('/femcom/directors?id=1', 'newwindow', 
                  'width=350, height=250'); return false;" title="FEMCOM Board of Directors">Dr. Amany Asfour</a></li>
                <li><a href="#" onclick="window.open('/femcom/directors?id=2', 'newwindow', 
                  'width=350, height=250'); return false;" title="FEMCOM Board of Directors">Mr Sindiso Ndema Ngwenya</a></li>
                <li><a href="#" onclick="window.open('/femcom/directors?id=3', 'newwindow', 
                  'width=350, height=250'); return false;" title="FEMCOM Board of Directors">Katherine Nyangul Ichoya</a></li>
              </ul>                                                             
            </div>                                                              
                                                                                
          </div>


          <div class="box">                                                     
                                                                                
            <div class="box_title">Latest news</div>                            
                                                                                
            <div class="box_content">                                           
              <ul>                                                              
                 <%(latest_news || []).each do |post|%>                          
                  <li><a href="/news/post?id=<%=post.id%>"><%=post.title%></a></li>
                <%end%>
              </ul>                                                             
            </div>                                                              
                                                                                
          </div> 


          <div class="box">                                                     
                                                                                
            <div class="box_title">Resources</div>                              
                                                                                
            <div class="box_content">                                           
              <ul>                                                             
                <li><a href="/femcom/documents">Downloads (pdf)</a></li>        
                <li><a href="/media/videos" rel="nofollow">Videos</a></li>      
                <li><a href="http://femcomcomesa.org/webmail" rel="nofollow">Webmail</a></li> 
              </ul>                                                             
            </div>                                                              
                                                                                
          </div>



           <div class="box">                                                     
                                                                                
            <div class="box_title">Partners</div>                               
                                                                                
            <div class="box_content">                                           
                                                                                
              <div class="thumbnails">                                          
                                                                                
                <a href="#" class="thumb"><%= image_tag("ACTESA.png" ,:class => "thumb")%></a>
                <a href="#" class="thumb"><%= image_tag("CAABWA-logo.gif" ,:class => "thumb")%></a>
                <a href="#" class="thumb"><%= image_tag("comesa.png" ,:class => "thumb")%></a>
                <a href="#" class="thumb"><%= image_tag("KMH.png" ,:class => "thumb")%></a>
                                                                                
                <div class="clearer">&nbsp;</div>                               
                                                                                
              </div>                                                            
                                                                                
            </div>                                                              
                                                                                
          </div>                                                                
         
         
         <div class="box">

            <div class="box_title">Social media</div>

            <div class="box_content">
              <ul>
                <li>
                  <a href="https://twitter.com/femcomcomesa" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @femcomcomesa</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </li>
                <li>
                  <a href="https://www.facebook.com/profile.php?id=100004281218608&fref=ts" target="_blank"><img src="http://femcomcomesa.org/media/mod_fuofb/images/en/find-us-on-facebook-5.png" alt="Facebook Image" title="Visit our Facebook page and become a fan." width="160" height="27" /></a>
                </li>
              </ul>
            </div>

          </div> 
         
         
         
                                                                                
        </div>   


      </div>
      
      <div class="clearer">&nbsp;</div>

    </div>
  </div>
</div>

<div id="dashboard">
  <!--div id="dashboard_content">
  </div-->
</div>


<div id="footer">                                                               
  <div class="center_wrapper">                                                  
                                                                                
    <div class="left">                                                          
      &copy; <%=Date.today.year%> <a href="http://femcomcomesa.org/">FEMCOMcomesa</a>
    </div>                                                                      
    <div class="right">                                                         
      Designed by <a href="#">Data Tech</a>                                     
    </div>                                                                      
                                                                                
    <div class="clearer">&nbsp;</div>                                           
                                                                                
  </div>                                                                        
</div>                                                                          
                                                                                
                                                                                
</body>                                                                         
                                                                                
                                                                                
</head>                                                                         
          
