<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>FEMCOMcomesa &#45; <%=@page_heading%></title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
<meta name="generator" content="FEMCOMcomesa">

<%= stylesheet_link_tag "application", :media => "all" %>                  
<%= stylesheet_link_tag "main" %>                  
<%#= javascript_include_tag "application" %>                                   
<%= csrf_meta_tag %>  

<script>
  <% 
    pictures = directors_pictures
    first_director_picture = "/images/directors/#{pictures[0]}" rescue nil
  %>
  var pictures = ("<%=pictures.join(',')%>").split(',');
</script>

<style type="text/css">
.latest_news {
  margin-left: -37px !important;
}

.latest_news a{
  color: #1D4A75 !important;
  font-size: 10px;
}

.latest_events {
  margin-left: -30px !important;
}

.small_links {
  width: 200px;
}

#directors {
 width: 180px; 
}

/*----------Text Styles----------*/
.ws6 {font-size: 8px;}
.ws7 {font-size: 9.3px;}
.ws8 {font-size: 11px;}
.ws9 {font-size: 12px;}
.ws10 {font-size: 13px;}
.ws11 {font-size: 15px;}
.ws12 {font-size: 16px;}
.ws14 {font-size: 19px;}
.ws16 {font-size: 21px;}
.ws18 {font-size: 24px;}
.ws20 {font-size: 27px;}
.ws22 {font-size: 29px;}
.ws24 {font-size: 32px;}
.ws26 {font-size: 35px;}
.ws28 {font-size: 37px;}
.ws36 {font-size: 48px;}
.ws48 {font-size: 64px;}
.ws72 {font-size: 96px;}
.wpmd {font-size: 12px;font-family: Arial,Helvetica,Sans-Serif;font-style: normal;font-weight: normal;}
/*----------Para Styles----------*/
DIV,UL,OL /* Left */
{
 margin-top: 0px;
 margin-bottom: 0px;
}

.page_content {
    left: 272px;
    overflow: hidden;
    position: absolute;
    top: 185px;
    width: 574px;
    z-index: 20;
    height: 760px;
    overflow: auto;
}

</style>

<style type="text/css">
a.style1:link{color:#FFFFFF;text-decoration: none;}
a.style1:visited{color:#FFFFFF;text-decoration: none;}
a.style1:hover{color:#C0C0C0;text-decoration: none;}
a.style1:active{color:#FFFFFF;text-decoration: none;}
</style>

<style type="text/css">
div#container
{
	position:relative;
	width: 1129px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	text-align:left; 
}
body {text-align:center;margin:0}

</style>

</head>
<body bgColor="#333333">
<div id="container">
<div id="shape1" style="position:absolute; overflow:hidden; left:34px; top:0px; width:1061px; height:1003px; z-index:0">
  <%= image_tag("shape19946312.gif" , :border => 0 ,:width =>"100%" ,:height =>"100%")%>
</div>

<div id="image1" style="position:absolute; overflow:hidden; left:906px; top:49px; width:99px; height:96px; z-index:1">
  <%= image_tag("FADE.jpg" , :border => 0 ,:width =>99 ,:height =>96)%>
</div>

<div id="image2" style="position:absolute; overflow:hidden; left:70px; top:38px; width:328px; height:81px; z-index:2">
  <%= image_tag("logo1.gif" , :border => 0 ,:width =>328 ,:height =>81)%>
</div>

<div id="image6" style="position:absolute; overflow:hidden; left:68px; top:128px; width:988px; height:29px; z-index:3">
  <%= image_tag("Bar1.jpg" , :border => 0 ,:width =>988 ,:height =>29)%>
</div>

<input name="formtext1" type="text" style="position:absolute;width:161px;left:836px;top:64px;z-index:4">
<div id="shape2" style="position:absolute; overflow:hidden; left:69px; top:181px; width:191px; height:232px; z-index:5">
  <%= image_tag("shape19946281.gif" , :border => 0 ,:width =>'100%' ,:height =>'100%')%>
</div>

<!--div id="g_image3" style="position:absolute; overflow:hidden; left:133px; top:257px; width:54px; height:43px; z-index:6"><a href="ftp://www.actesacomesa.org"><%#= image_tag("ACTESA.png" , :border => 0 ,:width =>54 ,:height =>43)%></a>
</div-->

<%
  top = 0
%>

<div id="g_image4" style="position:absolute; overflow:hidden; left:75px; top:200px; width:180px; height:210px; z-index:7">
<%(femcom_partners || []).each do |p| %>
<a href="<%=p.link%>"><%= image_tag("/images/partners/#{p.logo}" , :border => 0 ,:width =>'70%' ,
    :height =>'27%', :style => "left: 20px; position: absolute;top: #{top}px;")%></a>
<%top+=65
end
%>
</div>

<!--div id="g_image1" style="position:absolute; overflow:hidden; left:107px; top:307px; width:109px; height:66px; z-index:8"><a href="ftp://www.caabwa.com">
<%#= image_tag("caa.png" , :border => 0 ,:width =>109 ,:height =>66)%></a>
</div-->

<!--div id="g_image2" style="position:absolute; overflow:hidden; left:96px; top:377px; width:133px; height:37px; z-index:9"><a href="ftp://kmhassociates.ca"><%#= image_tag("KMH.png" , :border => 0 ,:width =>133 ,:height =>37)%></a>
</div-->

<div id="shape3" style="position:absolute; overflow:hidden; left:865px; top:182px; width:191px; height:228px; z-index:10">
<%= image_tag("shape19946265.gif" , :border => 0 ,:width =>'100%' ,:height =>'100%')%>
</div>

<div id="image13" style="position:absolute; overflow:hidden; left:45px; top:0px; width:1033px; height:37px; z-index:11">
<%= image_tag("line blue.jpg" , :border => 0 ,:width =>1033 ,:height =>37)%>
</div>

<div id="image4" style="position:absolute; overflow:hidden; left:1004px; top:63px; width:35px; height:23px; z-index:12">
  <%= image_tag("78.jpg" , :border => 0 ,:width => 35 ,:height =>30)%>
</div>

<div id="text2" style="position:absolute; overflow:hidden; left:1012px; top:69px; width:21px; height:14px; z-index:13">
<div class="wpmd">
<div><font color="#FFFFFF" face="Cambria" class="ws9"><B>GO</B></font></div>
</div></div>

<div id="image3" style="position:absolute; overflow:hidden; left:862px; top:167px; width:197px; height:28px; z-index:14">
  <%= image_tag("above bar.jpg" , :border => 0 ,:width => 197 ,:height =>28)%>
</div>

<div id="image5" style="position:absolute; overflow:hidden; left:66px; top:168px; width:197px; height:28px; z-index:15">
  <%= image_tag("above bar.jpg" , :border => 0 ,:width => 197 ,:height =>28)%>
</div>

<div id="text3" style="position:absolute; overflow:hidden; left:138px; top:177px; width:108px; height:18px; z-index:16">
<div class="wpmd">
<div><font color="#FFFFFF" class="ws9"><a href="/femcom/partners" style="text-decoration: none;color:white;">Partners</a></font></div>
</div></div>

<div id="text5" style="position:absolute; overflow:hidden; left:929px; top:176px; width:121px; height:18px; z-index:17">
<div class="wpmd">
<div><font color="#FFFFFF" class="ws9">Latest News</font></div>
</div></div>


<div class="page_content">


<%= yield %>


</div>



<div id="text13" style="position:absolute; overflow:hidden; left:872px; top:200px; width:179px; height:204px; z-index:21">
<div class="wpmd">
<ol class='latest_news'>
<%                                                                              
(latest_news || []).each do |post|%>                                            
<font color="#000000" class="ws9">               
  <li>&nbsp;<a href="/news/post?id=<%=post.id%>"><%=post.title%></a></li>
  <li>&nbsp;</li>
</font>
<%end%>                                                                 
</ol>        
<div style="line-height:1.50;"><font color="#000000" class="ws9"><BR></font></div>
</div></div>

<div id="shape5" style="position:absolute; overflow:hidden; left:868px; top:451px; width:191px; height:155px; z-index:22">
  <%= image_tag("shape19946140.gif" , :border => 0 ,:width => '100%' ,:height =>'100%')%>
</div>

<div id="image19" style="position:absolute; overflow:hidden; left:865px; top:423px; width:197px; height:28px; z-index:23">
  <%= image_tag("above bar.jpg" , :border => 0 ,:width => 197 ,:height =>28)%>
</div>

<div id="text15" style="position:absolute; overflow:hidden; left:892px; top:432px; width:151px; height:18px; z-index:24">
<div class="wpmd">
<div><font color="#FFFFFF" class="ws9">Current Focus&nbsp;&amp;&nbsp;Activities</font></div>
</div></div>

<div id="text16" style="position:absolute; overflow:hidden; left:881px; top:456px; width:176px; height:37px; z-index:25">
<div class="wpmd">
<div style="line-height:1.50;"><font class="ws9"><B><a href="/femcom/services"><%=service_title%></a></B></font></div>
</div></div>

<div id="text20" style="position:absolute; overflow:hidden; left:874px; top:502px; width:179px; height:99px; z-index:26">
<div class="wpmd">
<div align=justify style="line-height:1.50;padding-left:0px;">
  <ul style="margin-left:-37px;">
    <%(current_focus_and_activities || []).each do |activity|%>
      <li><a href="<%=activity.uri%>"><%=activity.title%></a></li>
      <li>&nbsp;</li>
    <%end%>
  </ul>
</div>
</div></div>


<div id="shape7" style="position:absolute; overflow:hidden; left:870px; top:642px; width:191px; height:153px; z-index:28">
  <%= image_tag("shape19946031.gif" , :border => 0 ,:width => '100%' ,:height =>'100%')%>
</div>

<div id="image8" style="position:absolute; overflow:hidden; left:867px; top:623px; width:197px; height:28px; z-index:29">
  <%= image_tag("above bar.jpg" , :border => 0 ,:width => 197 ,:height =>28)%>
</div>

<div id="text22" style="position:absolute; overflow:hidden; left:933px; top:632px; width:116px; height:18px; z-index:30">
<div class="wpmd">
<div><font color="#FFFFFF" class="ws9">Newslatter</font></div>
</div></div>

<div id="shape8" style="position:absolute; overflow:hidden; left:872px; top:824px; width:191px; height:98px; z-index:31;  visibility: hidden;">
  <%= image_tag("shape19946015.gif" , :border => 0 ,:width => '100%' ,:height =>'100%')%>
</div>

<div id="image9" style="visibility: hidden; position:absolute; overflow:hidden; left:869px; top:805px; width:197px; height:28px; z-index:32">
  <%= image_tag("above bar.jpg" , :border => 0 ,:width => 197 ,:height =>28)%>
</div>

<div id="text23" style="position:absolute; overflow:hidden; left:936px; top:814px; width:115px; height:18px; z-index:33">
<div class="wpmd">
<div><font color="#FFFFFF" class="ws9">&nbsp;</font></div>
</div></div>

<div id="image10" style="position:absolute; overflow:hidden; left:888px; top:884px; width:160px; height:27px; z-index:34"><a href="ftp://twitter.com/@femcomcomesa"><%= image_tag("follow-us-on-twitter-1.png" , :border => 0 ,:width => 160 ,:height =>27)%></a></div>

<div id="image22" style="position:absolute; overflow:hidden; left:888px; top:842px; width:160px; height:27px; z-index:35"><a href="ftp://www.facebook.com/profile.php?id=100004281218608&fref=ts">
<%= image_tag("find-us-on-facebook-5.png" , :border => 0 ,:width => 160 ,:height =>27)%>
</a></div>

<div id="image23" style="position:absolute; overflow:hidden; left:74px; top:973px; width:965px; height:31px; z-index:36">
  <%= image_tag("base.jpg" , :border => 0 ,:width => 965 ,:height =>31)%>
</div>

<div id="image24" style="position:absolute; overflow:hidden; left:34px; top:1002px; width:1061px; height:25px; z-index:37">
  <%= image_tag("Bar.jpg" , :border => 0 ,:width => 1061 ,:height =>25)%>
</div>

<div id="text25" style="position:absolute; overflow:hidden; left:47px; top:1007px; width:1029px; height:17px; z-index:38">
<div class="wpmd">
<div align=justify style="line-height:1.50;"><font color="#000000" class="ws8">Copyright &#169; 2013 femcomcomesa. All Rights Reserved.
<div style="float:right;">Tearms of Use/Policy</div></font></div>
</div></div>

<div id="text26" style="position:absolute; overflow:hidden; left:841px; top:1028px; width:254px; height:18px; z-index:39">
<div class="wpmd">
<div><font color="#FFFFFF" class="ws8">Designed by Data-Tech (Datatechmw1@gmail.com)</font></div>
</div></div>

<form name="form1" method="post" action="mailto:support@webpage-maker.com" enctype="text/plain" style="margin:0px">
<input name="name" type="text" style="position:absolute;width:161px;left:883px;top:685px;z-index:41">
<input name="subject" type="text" style="position:absolute;width:160px;left:883px;top:734px;z-index:42">
<input name="submit" type="submit" value="Subscribe" style="position:absolute;left:957px;top:765px;z-index:43">
</form>

<div id="text27" style="position:absolute; overflow:hidden; left:883px; top:669px; width:67px; height:74px; z-index:44">
<div class="wpmd">
<div>Name</div>
<div><BR></div>
<div><BR></div>
<div>Email</div>
<div><BR></div>
</div></div>

<div id="g_shape1" style="position:absolute; overflow:hidden; left:70px; top:451px; width:191px; height:185px; z-index:45">
  <%= image_tag("shape7249453.gif" , :border => 0 ,:width => '100%' ,:height =>'100%')%>
</div>

<div id="g_image11" style="position:absolute; overflow:hidden; left:67px; top:424px; width:197px; height:28px; z-index:46">
  <%= image_tag("above bar.jpg" , :border => 0 ,:width => 197 ,:height =>28)%>
</div>

<div id="g_image10" style="position:absolute; overflow:hidden; left:75px; top:459px; width:180px; height:143px; z-index:47">
  <%= image_tag("#{first_director_picture}" , :border => 0 ,:width => 145 ,:height =>143,:id => 'directors')%>
</div>

<div id="g_text7" style="position:absolute; overflow:hidden; left:94px; top:432px; width:151px; height:18px; z-index:48">
<div class="wpmd">
<div><font color="#FFFFFF" class="ws9">FEMCOM Board Directors</font></div>
</div></div>

<div id="g_shape2" style="position:absolute; overflow:hidden; left:69px; top:661px; width:191px; height:282px; z-index:49">
  <%= image_tag("shape11020000.gif" , :border => 0 ,:width => '100%' ,:height =>'100%')%>
</div>

<div id="g_image9" style="position:absolute; overflow:hidden; left:66px; top:652px; width:197px; height:28px; z-index:50">
  <%= image_tag("above bar.jpg" , :border => 0 ,:width => 197 ,:height =>28)%>
</div>

<div id="g_text6" style="position:absolute; overflow:hidden; left:139px; top:659px; width:108px; height:18px; z-index:51">
<div class="wpmd">
<div><font color="#FFFFFF" class="ws9">Events</font></div>
</div></div>

<div id="g_text5" style="position:absolute; overflow:hidden; left:75px; top:688px; width:181px; height:251px; z-index:52">
<div class="wpmd">
<div><font class="ws9">

<ul class="latest_events">                                                                              
<%
(latest_events || []).each do |post|%>                                            
<div style="line-height:1.50;"><font color="#000000" class="ws9">               
<li><a href="/femcom/event?id=<%=post.id%>"><%=post.title%></a></font></li>
<li>&nbsp;</li></div>
<%end%>                                                                         
</ul>
</font></div>
</div></div>

<div id="g_image8" style="position:absolute; overflow:hidden; left:120px; top:607px; width:93px; height:23px; z-index:53">
  <%= image_tag("78.jpg" , :border => 0 ,:width => 93 ,:height =>23)%>
</div>

<div id="g_text4" style="position:absolute; overflow:hidden; left:132px; top:610px; width:71px; height:15px; z-index:54">
<div class="wpmd" style="text-align:center;">
<div style="left: 102px;">
  <font class="ws8" style="text-align:center;">
    <a href="/femcom/directors" title="" class="style1">View Profile</a>
  </font>
</div>
</div></div>

<div id="g_text8" style="position:absolute; overflow:hidden; left:990px; top:581px; width:58px; height:19px; z-index:55">
<div class="wpmd">
</div></div>

<div id="g_text9" style="position:absolute; overflow:hidden; left:166px; top:984px; width:806px; height:22px; z-index:56">
<div class="wpmd">
<div style="text-align: center;">
  <a href="/" title="" class="style1">Home</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
  <a href="/femcom/about_us" title="" class="style1">About Us</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
  <!--a href="/femcom/services" title="" class="style1">What We Do</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font-->
  <a href="/femcom/national_chapters" title="" class="style1">National Chapters</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/events" title="" class="style1">Events</a>
  <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="" class="style1">Program</a-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/femcom/news" title="" class="style1">News</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
  <a href="/femcom/gallery" title="" class="style1">Gallery</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/femcom/documents" title="" class="style1">Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
  <a href="/media/videos" title="" class="style1">Videos</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
  <a href="/femcom/contact_us" title="" class="style1">Contact Us</a></div>
</div></div>

<div id="g_text10" style="position:absolute; overflow:hidden; left:176px; top:134px; width:806px; height:22px; z-index:57">
<div class="wpmd" style="text-align: center;">
  <a href="/" title="" class="style1">Home</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
  <a href="/femcom/about_us" title="" class="style1">About Us</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
  <!--a href="/femcom/services" title="" class="style1">What We Do</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font-->
  <a href="/femcom/national_chapters" title="" class="style1">National Chapters</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/femcom/events" title="" class="style1">Events</a>
  <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" title="" class="style1">Program</a-->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/femcom/news" title="" class="style1">News</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
  <a href="/femcom/gallery" title="" class="style1">Gallery</a><font color="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="/femcom/documents" title="" class="style1">Resources</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
  <a href="/media/videos" title="" class="style1">Videos</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font>
  <a href="/femcom/contact_us" title="" class="style1">Contact Us</a></div>
</div></div>

<div id="g_text11" style="position:absolute; overflow:hidden; left:950px; top:4px; width:300px; height:21px; z-index:58">
<div class="wpmd small_links">
<div><font style="font-size:10px;" class="ws9">
<a href="ftp://www.hostmonster.com/cgi/webmail?referer=http://femcomcomesa.org:2095/" title="" class="style1">Webmail</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<%if User.current_user.blank?%>
  <a href="/user/login" title="" class="style1">Login</a>
<%else%>
  <a href="/user/logout" title="" class="style1">Logout</a>&nbsp;
  <a href="/user/admin" class="style1"><%=User.current_user.username[0..8]%></a>
<%end%>
</font></div>
</div></div>

</div>


<script>
  var viewed_pictures = [];

  setInterval("changePictures();",3000);

  function changePictures() {
    for(var i = 0 ; i < pictures.length; i++) {
      document.getElementById('directors').src = "/images/directors/" + pictures[i];
      viewed_pictures.push(pictures[i]);
      pictures.splice(i, 1);
      break;
    }

    if(pictures.length < 1) {
      pictures = viewed_pictures;
    }

  }
</script>
</body>
</html>
